{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<form class="my-3 row g-3" method="POST">
    <div class="col">
        <label for="searchquery" class="visually-hidden">Search</label>
        <input type="search" class="form-control" id="searchquery"
               placeholder="Enter a CU Boulder Course Identifier" name="searchquery">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" id="submitSearch" onclick="showLoading()"><i
                class="bi bi-search"> </i>Submit
        </button>
    </div>
</form>
<div class="bg-light rounded p-3">
    <p class="lead">The CU Boulder FCQ Tool is designed to help students select their classes for an upcoming term by
        granting access to useful insights like weekly time commitment and course difficulty metrics.</p>
    <p>Students can use this tool to strategically select distribution courses and maximize the amount of their time
        spent on their degree program, while balancing their academics with other important aspects of college
        life.</p>
    <p><strong class="me-2">How to Use</strong>Enter a CU Boulder course number (e.g., wrtg1150, WRTG3020, econ 2010,
        MATH 1300,
        etc.), then press Submit.</p>
    <ul>
        <li>Select a specific instructor for each section of a course to dial in the time commitment and challenge.
        </li>
        <li>Create an account or sign in to add courses to your schedule and see total time commitment for a semester.
        </li>
    </ul>
    <hr>
    <p><strong class="me-2">About</strong>This is a term project for CU Boulder's Intensive Programming Workshop course
        (CSCI 3010). Original idea by Brandon Korb: a close friend of mine who sparked my interest in programming.</p>
</div>
<script>
    function showLoading() {
        let submitButton = document.querySelector('#submitSearch')
        submitButton.classList.add('disabled')
        submitButton.innerHTML = `
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
        `
    }
</script>

{% endblock %}