{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<form class="my-3 row g-3" method="POST">
    <div class="col">
        <label for="searchquery" class="visually-hidden">Search</label>
        <input type="search" class="form-control" id="searchquery"
               placeholder="Enter a CU Boulder Identifier" name="searchquery">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3"><i class="bi bi-search"> </i>Submit</button>
    </div>
</form>
<div class="bg-light rounded p-3">
    <p><strong>How to Use</strong> Enter a CU Boulder course number (e.g., csci3010, CSCI3010, csci 3010, or CSCI 3010),
        then press Submit. For added functionality, create an account and store schedules.</p>
    <hr>
    <p><strong>About</strong> This is a term project for CU Boulder's Intensive Programming Workshop course. It's a
        program I've been wanting to build for a while after inspiration by a former roommate, Brandon, who I credit
        with sparking my interest in programming.</p>
</div>
{% endblock %}